.container{
    margin: 50px 50px 50px 50px;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    }

.comentario {
    font-weight: bold;
    background-color: grey;
    text-align: center;
    font-size: 20px;
    border: 2px solid black;
    margin: 0px !important;
}

span{
    font-weight: bold;
}
.btn {
     display: flex;
        justify-content: center;
        margin-left: 787px;
        padding: 12px;
        padding-left: 30px;
        padding-right: 30px;
        background-color: gray;
}
.btn:hover {
    background-color: whitesmoke;
    box-shadow: none;
}

.box{
    border-top: 1px solid black;
}
    h1 {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-weight: 600;
        line-height: 60px;
        font-size: var(--text-xxl);
        color: black;
    }
    
    h2 {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-weight: 600;
        line-height: 46px;
        font-size: var(--text-xl);
        color: black;
    }
    
    h3 {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-weight: 600;
        line-height: 30px;
        font-size: var(--text-lg);
        color: black;
    }
    
    h4 {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-weight: 500;
        line-height: 28px;
        font-size: var(--text-md);
        color: black;
    }
    
    h5 {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-weight: 300;
        line-height: 25px;
        font-size: var(--text-md);
        color: black;
    }
    
    h6 {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-weight: 300;
        line-height: 25px;
        font-size: var(--text-base-size);
        letter-spacing: 5%;
        color: black;
    }
    
   